@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

* {
	margin: 0;
	padding: 0;
}

body,
html {
	font-family: "Lato", sans-serif;
	overflow: hidden;
	user-select: none;
	color: white;
	text-align: center;
}

Main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
Main .header {
	width: auto;
	display: flex;
	flex-direction: column;
	padding-top: 0.5em;
	z-index: 100;
}

Main .header .icons {
	margin-top: 10px;
	color: white;
	font-size: 25px;
}

Main .header a {
	text-decoration: none;
	color: white;
	margin: 10px 5px;
}

Main .header > #name {
	font-size: 30px;
	font-weight: bold;
	text-transform: lowercase;
	width: max-content;
	margin: 0 auto;
}

Main .header > #name > p {
	color: gray;
	font-size: 16px;
	display: inline-block;
}

Main .header .icons i {
	transition: 200ms;
	cursor: pointer;
}

Main .header .icons i:hover {
	transform: scale(1.1);
}

Main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(30,30,30) 0%, 
		  rgba(145,0,240) 30%,
          rgb(255, 0, 255) 100%
    );  
    animation: AnimateBG 20s ease infinite;
    position: absolute;
    width: 100%;
z-index: -1;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.discordProfile {
	margin: auto;
	height: 210px;
	border-radius: 16px;
	overflow: hidden;
	width: max-content;
	margin: 0 auto;
	transition: 300ms ease-in-out;
}

iframe {
	margin: auto;
	padding: 20px;
}

main .header .emojis {
	margin-top: 10px;
}